{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizimnen o'tiw | QTech</title>
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
</head>
<body>


{% block content %}
<div class="auth-card">
    <h2 class="auth-title">Dizimnen O‘tiw</h2>

    {% if error %}
    <div class="alert">{{ error }}</div>
    {% endif %}

    <form method="POST" class="auth-form">
        {% csrf_token %}
        <label for="text">Atı Familiya:</label>
        <input type="text" name="full_name" class="input" placeholder="......." required>
        <label for="tel">Telefon nomer:</label>
        <input type="tel" name="phone" class="input" placeholder="+998 ** *** ** **" required>
        <label for="password">Parol:</label>
        <input type="password" name="password" class="input" placeholder="******" required>

        <button type="submit" class="btn">Dizimnen O‘tiw</button>
    </form>

    <p class="switch-link">Akkawintin'iz barma?  
        <a href="{% url 'users:login' %}">Kiriw</a>
    </p>
</div>
{% endblock %}
</body>
</html>