{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baylanis | QTech</title>
    <link rel="stylesheet" href="{% static 'main/css/contact.css' %}">
</head>
<body>

<header class="header">
    <h1>Baylanis</h1>
</header>

<section class="contact-section">
    <div class="contact-info">
        <h2>Biz benen baylanisin'</h2>
        <p>Biz ha'r dayim sizge ja'rdem beriwge tayinbiz</p>

        <ul>
            <li>📞 Telefon: +998 94 436 60 09</li>
            <li>📧 Email: companyqit@qtech.uz</li>
            <li>📍 Ma'nzil: No'kis qalasi, Jasil bag' MPJ</li>
        </ul>
    </div>

    <div class="contact-form">
        <h2>Bizge xabar jiberin'</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Atin'iz" required>
            <input type="email" name="email" placeholder="Email ma'nzilin'iz" required>
            <textarea name="message" placeholder="Xabarin'iz..." required></textarea>
            <button type="submit">Jiberiw</button>
        </form>
    </div>
</section>

</body>
</html>